<!-- Creatd a new Edit section as a part for innovation section -->

<div class="form_class">
    <h2 class="color-white">EDIT YOUR DETAILS</h2>
<form action="/edit-todolist?id=<%= todolist._id %>" method="POST">
    <div class="desc_Class">
        <input type="text" name="desc"  value='<%= todolist.desc %>' >
    </div>
    <div class="select_and_input">
        <select name="category">
            <option value="" disabled selected><%= todolist.category %></option>
            <option>Personal</option>
            <option>Work</option>
            <option>Claeaning</option>
            <option>Otheres</option>
    
        </select>
        <input type="date" required name="dueDate" value=<%= todolist.dueDate %>>
        
</div>
    <button type="submit" class="edit-button"> Update</button>
</form>
</div>