body{
    margin: 0;
    font-family: sans-serif;
}
.singleTask{
    border-top: 1px solid gray;
    margin: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}
.catesec{
    border: 1px solid black;
    background-color: chartreuse;
    
}

.todoheading{
    color: blue;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.form_class{
    width: 100%;
    text-align: center;
}
.desc_Class input{
    height: 50px;
    width: 100%;
    margin: 15px;
    transition: transform 0.3s;
}
.desc_Class input:hover{
    /* transform: scale(1.1); */
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
}
.select_and_input{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.select_and_input select{
    height: 45px;
    width: 40%;
    transition: transform 0.3s;
}
.select_and_input input{
    height: 45px;
    width: 40%;
}
.select_and_input select:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
}
.datesValues{
    transition: transform 0.3s;
}
.datesValues:hover{
    box-shadow: 0px 0px 5px 2px white ;
    background-color: bisque;
}
.buttonDesign{
    height: 50px;
    width: 120px;
    color: white;
    transition: transform 0.3s;
}
.buttonDesign:hover{
    box-shadow: 0px 0px 5px 2px white ; 
    transform:scale(1.1);
}
.colorRed{
    background-color: red;
    
}

.colorGrey{
    background-color: gray;
}
.commonClass{
    height: auto;
    width: auto;
    text-align: center;
    padding: 5px;
    border-radius: 15px;    
    color: white;
    transition: transform 0.3s;
}
.commonClass:hover{
    box-shadow: 0px 0px 5px 2px rgb(14, 6, 6) ; 
    transform:scale(1.2);
}
.work{
    background-color: purple;
        
}
.Personal{
    background-color: skyblue;

}
.Claeaning{
    background-color: green;
}
.Otheres{
    background-color: teal;
}
.name_and_dueDate{
    height: auto;
    width: 200px;
}
.dueDate{
    width: fit-content;
}